@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-white: #f6f5f5;
  --primary-light-brown: #d2c8bc;
  --primary-brown: #866552;
  --primary-dark: #262721;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-josefin;
  }
  button {
    @apply px-4 py-2 border;
    background-color: var(--primary-light-brown);
  }
  h2 {
    @apply text-xl font-bold;
  }
  .bg-primary-white {
    background-color: var(--primary-white);
  }
  .bg-primary-light-brown {
    background-color: var(--primary-light-brown);
  }
  .bg-primary-brown {
    background-color: var(--primary-brown);
  }
  .bg-primary-dark {
    background-color: var(--primary-dark);
  }
  .text-primary-white {
    color: var(--primary-white);
  }
  .text-primary-brown {
    color: var(--primary-brown);
  }
  .text-dark {
    color: var(--primary-dark);
  }
  .userprofiledropdown {
    position: relative;
  }
  .userprofiledropdown::before {
    content: "";
    @apply absolute top-[-0.7rem] right-[2.1rem] w-[20px] h-[20px] bg-[#d2c8bc] transform rotate-45;
  }
}
